[submodule "libraries/entt"]
	path = libraries/entt
	url = https://github.com/skypjack/entt.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/icaven/glm.git
